* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body {
    /* Old browsers */
    background-image: url("../img/teatro.jpg");
    background-repeat: no-repeat;
    width: 100%;
    background-size: 100% 100%;
}

#wrapper {
    margin: 0 auto;
    max-width: 1120px;
    width: 88%;
}

header h1 {
    text-align: center;
    margin: 12px auto;
    font-family: "LeagueGothicRegular",Verdana,Helvetica,"Liberation Sans";
    font-size: 3.8em;
    text-transform: uppercase;
    color: #707070;
    text-shadow: 5px 5px 0px #EEE, 7px 7px 0px #707070;
}

ul.grid li {
    display: inline-block;
    vertical-align: top;
    width: 168px;
    /* Para lograr el efecto del inline-block en navegadores IE 6 y 7 */
    *display: inline;
    *zoom: 1;
}

ul.grid li h4 {
	color: Brown;
	font: Bold 0.9em "LatoSemibold",Verdana,Helvetica,"Liberation Sans";
	text-align: center;
}

ul.grid li p {
	color: #393639;
	font: Normal 0.8em "LatoRegular",Verdana,Helvetica,"Liberation Sans";
    margin: 0 9px;
	text-align: left;
}

ul.grid li img.avatar {
	background: #F9FCF9;
	border: solid 1px #B99F9F;
	margin: 6px 7px;
	padding: 6px;
}

ul.grid li img.avatar:hover {
	border: solid 1px #CCC;
	-moz-box-shadow: 1px 1px 5px #999;
	-webkit-box-shadow: 1px 1px 5px #999;
    box-shadow: 1px 1px 5px #999;
}

.box {
	position:relative;
	width: 168px;
	height:300px;
	margin: 16px auto;
}

.box-gradient {
    background: rgba(226,226,226,1);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#dedbde', GradientType=1 );
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	height: 105%;
	position: absolute;
	width: 100%;
}

.box-shadow {
	position: absolute;
	left: 50%;
	margin: 200px 0 0 -84px;
	bottom: 0;
	width: 164px;
	height: 35px;
	background: #fff;
	border-radius: 290px/8px;
	-moz-border-radius: 290px/8px;
	-webkit-border-radius: 290px/8px;
	box-shadow: 0 10px 20px #000;
	-moz-box-shadow: 0 10px 20px #000;
	-webkit-box-shadow: 0 10px 20px #000;
}
a{
    margin: auto;
    text-align: center;
    display:block;
	text-decoration:none;
	padding:10px;
	color:black;
	font-weight:600;
}
